<html>
    <head>
        <script src="./assets/jquery.min.js"></script>
        <script src="./assets/angular/angular.min.js"></script>
        <script src="./assets/app.angular.js"></script>
        <script>
            $( document ).ready( async()=>{
                $('#cetak').click();
            });
            app.controller("myCtrl", function($scope,$http,API) {
                angular.element(window).ready(async function () {
                    $scope.data = null;
                    $scope.id =null;
                    $scope.print=null;
                    $scope.scale=3;
                    $scope.text = {
                        header : 14,
                        title : 10,
                        text :9,
                        footer : 7
                    };
                    function getParameterByName(name, url = window.location.href) {
                        name = name.replace(/[\[\]]/g, '\\$&');
                        let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)');
                        let results = regex.exec(url);
                        if (!results) return null;
                        if (!results[2]) return '';
                        return decodeURIComponent(results[2].replace(/\+/g, ' '));
                    }
                    $scope.id = getParameterByName('id');
                    $scope.print = getParameterByName('print');
                    // $scope.data = window.api.tesPrint({
                    //     id:id
                    // });
                    console.log('id',$scope.id);
                    console.log('print',$scope.print);
                    $scope.nama_member = '';
                    $scope.poin_member = 0;
                    if($scope.print==0){
                        let response = await window.api.printUlang();
                        console.log(response);
                        $scope.data = response.data;
                        if(response.data.customer){
                            $scope.nama_member = response.data.customer.namaCustomer;
                            $scope.poin_member = response.data.customer.jumlahPoint;
                        }
                    }else{
                        let response = await window.api.printUlangParam($scope.id);
                        console.log(response);
                        $scope.data = response.data;
                        if(response.data.customer){
                            $scope.nama_member = response.data.customer.namaCustomer;
                            $scope.poin_member = response.data.customer.jumlahPoint;
                        }
                    }
                    $scope.$apply();
                    window.addEventListener("afterprint",()=>{
                        window.history.back();
                    });
                })
                $scope.cetak = function(){
                    await = window.api.tesPrint({
                        id:1243
                    });
                }
                // $scope.print();
            });
        </script>
        <link href="./assets/fonts/inter/inter.css">
        <style>
            p {
                line-height: 0.1;
            }
            @media print {
                body {
                    width: 54mm; /* Or 80mm, depending on the paper size */
                }
            }
        </style>
    </head>
    <body ng-app="app"  ng-controller="myCtrl">
        <button type="button" ng-click="cetak()" id="cetak" style="display: none;">print</button>
        <div style="font-family: 'Inter', sans-serif;">
            <div style="text-align: center;"> 
                <a style="font-size: <% text.header + scale %>px;font-weight: bold;"><% data.toko.nama_lokasi %></a><br/>
                <a style="font-size: <% text.title + scale %>px;font-weight: bold;"><% data.toko.alamat %></a>
                <hr/>
                <table style="border:0px">
                    <tr style="border:0px">
                        <td style="border:0px;font-size: <% text.text + scale %>px">NAMA</td>
                        <td style="border:0px;font-size: <% text.text + scale %>px">:</td>
                        <td style="border:0px;font-size: <% text.text + scale %>px"><% data.toko.nama_lokasi %></td>
                    </tr>
                    <tr style="border:0px">
                        <td style="border:0px;font-size: <% text.text + scale %>px">ALAMAT</td>
                        <td style="border:0px;font-size: <% text.text + scale %>px">:</td>
                        <td style="border:0px;font-size: <% text.text + scale %>px"><% data.toko.alamat %></td>
                    </tr>
                    <tr style="border:0px">
                        <td style="border:0px;font-size: <% text.text + scale %>px">NPWP</td>
                        <td style="border:0px;font-size: <% text.text + scale %>px">:</td>
                        <td style="border:0px;font-size: <% text.text + scale %>px"><% data.toko.npwp %></td>
                    </tr>
                </table>
                <hr/>
            </div>
            <div ng-repeat="detail in data.transaksi.TransPenjualanDet" style="border:0px;font-size: <% text.text + scale %>px;margin-bottom: 5px;">
                <div class="nama_barang"><% detail.namaBarang.substring(0,26) %></div>
                <!-- <table style="border: 0px;width: 100%;font-size: <% text.text + scale %>px;">
                    <tr>
                        <td>
                            <% detail.kodeBarang.substring(0,26) %> <% detail.QtyJual %>x <% detail.HargaJual | currency:"" %>
                        </td>
                        <td style="text-align: right;">
                            <% detail.SubTotal | currency:"" %>
                        </td>
                    </tr>
                </table> -->
                <div>
                    <div style="display: inline-block;text-align: left;width: 68%;">
                        <% detail.kodeBarang.substring(0,26) %> <% detail.QtyJual %>x <% detail.HargaJual | currency:"" %>
                    </div>
                    <div style="display: inline-block;text-align: right;width: 30%">
                        <% detail.SubTotal | currency:"" %>
                    </div>
                </div>
            </div>
            <hr/>
            <div style="font-family: 'Inter', sans-serif;font-size: <% text.text + scale %>px;">
                <div>
                    <div style="display: inline-block;text-align: left;width: 68%;font-weight: bold;">
                        Total Transaksi
                    </div>
                    <div style="display: inline-block;text-align: right;width: 30%;font-weight: bold;">
                        <% data.transaksi.TotalTransaksi2 | currency:"" %>
                    </div>
                </div>
                <div ng-repeat="payment in data.transaksi.TransPenjualanDetPayment">
                    <div style="display: inline-block;text-align: left;width: 68%;">
                        <% payment.jenisPembayaran %>
                    </div>
                    <div style="display: inline-block;text-align: right;width: 30%">
                        <% payment.JumlahBayar | currency:"" %>
                    </div>
                </div>
                <div style="margin-bottom: 10px;">
                    <div style="display: inline-block;text-align: left;width: 68%;font-weight: bold;">
                        Kembalian
                    </div>
                    <div style="display: inline-block;text-align: right;width: 30%;font-weight: bold;">
                        <% data.transaksi.Kembali | currency:"" %>
                    </div>
                </div>
            </div>
            <div style="font-family: 'Inter', sans-serif;font-size: <% text.footer + scale %>px;text-align: center;">
                <p>*** PPN 11% SUDAH DI BAYAR MORODADI ***</p>
                <p>DARI BLORA OLEH BLORA UNTUK BLORA</p><br/>
                <p><% data.transaksi.waktu %>/<% data.login.nama%></p>
                <p><% data.transaksi.FakturPenjualan %></p>
                <p>BARANG-BARANG YANG SUDAH DI BELI</p>
                <p>TIDAK BOLEH DI TUKAR / DI KEMBALIKAN</p>
                <p style="font-weight: bold;">** TERIMA KASIH **</p><br/>
                <p ng-show="nama_member!=''">Nama Customer : <% nama_member %></p>
                <p ng-show="nama_member!=''">Jumlah Poin : <% poin_member %></p>
            </div>
        </div>
    </body>
</html>
